<md-card>
    <md-card-title>
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
                <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" ng-if="$ctrl.event.user==$ctrl.user._id">
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" ng-if="$ctrl.event.user==$ctrl.user._id">
                    <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>

            <span class="md-headline">{{$ctrl.event.title}}</span>
            <span class="md-subhead">{{$ctrl.event.time}}</span>

        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <p>{{$ctrl.event.address}}</p>
        <p>{{$ctrl.event.description}}</p>
    </md-card-content>
</md-card>

<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="Book Event" ng-click="$ctrl.bookEvent()">
    <md-icon><ng-md-icon icon="add"></ng-md-icon></md-icon>
</md-button>