<md-card>
    <md-card-title>
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
                <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" ng-if="$ctrl.event.user._id==$ctrl.user._id">
                    <md-icon>
                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                    </md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Delete Item" ng-click="$ctrl.delete()" ng-if="$ctrl.event.user._id==$ctrl.user._id">
                    <md-icon>
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-icon>
                </md-button>
            </md-card-actions>
            <span class="md-headline">{{$ctrl.event.title}}</span>
            <span class="md-subhead">{{$ctrl.event.time|date:medium}} {{$ctrl.event.eventTime|date:'HH:mm'}}</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <p class="event_details"><b>City:</b> {{$ctrl.event.city.name}}</p>
        <p class="event_details"><b>Address:</b> {{$ctrl.event.address}}</p>
        <p class="event_details"><b>Foodtype:</b> {{$ctrl.event.foodType.type}}</p>
        <p class="event_details"><b>Guest:</b> {{$ctrl.event.guest.username}}</p>
        <p class="event_details"><b>Guest Count:</b> {{$ctrl.event.guestCount}}</p>
        <p class="event_details"><b>Description:</b> {{$ctrl.event.description}}</p>
    </md-card-content>

    <md-button class="md-fab md-fab-bottom-right " aria-label="Book Event" ng-click="$ctrl.bookEvent()" ng-if="$ctrl.event.isOpen">
        Book
    </md-button>
</md-card>