<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-event/dist/event.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-map/src/map.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>

<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1> {{$ctrl.event.title}} </h1>
        <br/>
        <form name="eventForm">
            <md-input-container class="md-icon-float md-block">
                <label>Title</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.model.title" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <ng-md-icon icon="date_range"></ng-md-icon>
                <label>Date</label>
                <md-datepicker ng-model="$ctrl.myDate" md-hide-icons="calendar" layout-margin="right" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                <!--<input ng-model="$ctrl.event.time" type="text"> -->
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Address</label>
                <md-icon><ng-md-icon icon="home" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.event.address" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-select ng-model="$ctrl.event.foods">
                    <label>Food Type</label>
                    <md-icon><ng-md-icon icon="local_dining" ></ng-md-icon></md-icon>
                    <md-option value="Vegetarian">Vegetarian</md-option>
                    <md-option value="Steak">Steak</md-option>
                    <md-option value="Italien">Italien</md-option>
                    <md-option value="French">French</md-option>
                    <md-option value="Spanien">Spanien</md-option>
                    <md-option value="Asian">Asian</md-option>
                    <md-option value="Asian">Secret Homemade Receipt</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <input type="text" ng-model="$ctrl.eventDescription" md-maxlength="250" placeholder="Event Description: Briefly describe your event and give some advices" />
            </md-input-container>
            <!--<md-input-container class="md-block">
                <label>Food Type</label>
                <md-icon><ng-md-icon icon="local_dining" ></ng-md-icon></md-icon>
                <textarea ng-model="$ctrl.event.foods" md-maxlength="1000" rows="8" md-select-on-focus></textarea>
            </md-input-container> -->
            <div>
                <label>Upload Photos</label>
                <md-icon><ng-md-icon icon="file_upload" ></ng-md-icon></md-icon>
                <input type = "file" file-model = "myFile"/>
                <md-button class="md-raised md-primary" ng-click = "$ctrl.uploadFile()">Upload</md-button>
            </div>
            <!-- google map
            <div>
                <section id="map" ng-controller="MapCtrl" >
                <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
                </section>
            </div> -->
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>
        </form>
    </md-content>

</div>