<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<md-card id="searchField" style="
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" layout-align="center center">Find a food-sharing event</span>
            <span class="md-subhead" layout-align="center center">Where is the FOOD?</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div layout="row">
            <i class="material-icons md-36">search</i>
            <md-input-container flex="35">
                <input type="text" ng-model="$ctrl.inputs.city" type="text" placeholder="Enter city name of event" />
                <!-- <div ng-messages="inputs.clientName.$error">
                    <div ng-message="required">This is required. </div>
                </div> -->
            </md-input-container>
            <md-input-container flex="25">
                <label>Date</label>
                <md-datepicker ng-model="$ctrl.inputs.time" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                <!-- <input type="text" ng-model="$ctrl.inputs.time" type="date" placeholder="Enter event start time" /> -->
            </md-input-container>
            <md-input-containe flex="20">
                <md-select ng-model="$ctrl.inputs.guestCount">
                    <label>Guest Count</label>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                </md-select>
            </md-input-containe>
            <md-button flex class="md-raised md-primary" type="submit" ng-click="$ctrl.searchEvents()" style="
    height: 40px;
    margin-top: 15px;
">Search</md-button>
        </div>
    </md-card-content>
</md-card>

<script>
    document.getElementById("searchField").style.backgroundImage = "url(images/background.jpg)";

</script>