<md-card id="searchField">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" layout-align="center center">Find a food-sharing event</span>
            <span class="md-subhead" layout-align="center center">Where is the FOOD?</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div layout="row">
            <md-icon>
                <ng-md-icon icon="search"></ng-md-icon>
            </md-icon>
            <md-input-container flex="35">
                <md-select name="repeatSelect" placeholder="City of event" id="repeatSelect" ng-model="$ctrl.inputs.city">
                    <md-option ng-repeat="option in $ctrl.cities" value="{{option._id}}">{{option.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="25">
                <label>Date</label>
                <md-datepicker ng-model="$ctrl.inputs.time" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
            </md-input-container>
            <md-input-containe flex="20">
                <md-select ng-model="$ctrl.inputs.guestCount" placeholder="Guest count of event">
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                </md-select>
            </md-input-containe>
            <md-button flex id="home_search" class="md-raised md-primary" type="submit" ng-click="$ctrl.searchEvents()">Search</md-button>
        </div>
    </md-card-content>
</md-card>

<script>
    document.getElementById("searchField").style.backgroundImage = "url(images/background.jpg)";

</script>