<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Search results:</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <md-list>
            <md-list-item aria-label="Event" ng-click="$ctrl.details(event)" class="noright" ng-repeat="event in $ctrl.events">
                <md-icon>
                    <ng-md-icon icon="insert_drive_file"></ng-md-icon>
                </md-icon>
                <p> {{event.title}} </p>
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit(event)" ng-if="event.user==$ctrl.user._id">
                    <md-icon>
                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                    </md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Delete Item" ng-click="$ctrl.delete(event)" ng-if="event.user==$ctrl.user._id">
                    <md-icon>
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-card-content>
</md-card>
<md-button class="md-raised md-bottom-right md-primary" aria-label="New Event" ng-click="$ctrl.newEvent()">
    New Event
</md-button>