<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1> {{$ctrl.event.title}} </h1>
        <br/>
        <form name="EventForm">
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="title"></ng-md-icon>
                </md-icon>
                <input name="title" ng-model="$ctrl.event.title" type="text" placeholder="Title" required="">
                <div ng-messages="EventForm.title.$error" role="alert" multiple="">
                    <div ng-message="required">Please enter the title of your event.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <ng-md-icon icon="date_range">
                </ng-md-icon>
                <md-datepicker ng-model="$ctrl.event.time" name="dateField" md-min-date="$ctrl.today" md-hide-icons="calendar" layout-margin="right"
                    md-open-on-focus requird=""></md-datepicker>
                <div ng-messages="EventForm.dateField.$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="mindate">Date is too early!</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="location_city"></ng-md-icon>
                </md-icon>
                <md-select name="repeatSelect" placeholder="City of event" id="citySelect" ng-model="$ctrl.event.city">
                    <md-option ng-repeat="option in $ctrl.cities" value="{{option._id}}">{{option.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="home"></ng-md-icon>
                </md-icon>
                <input name="address" placeholder="Address" ng-model="$ctrl.event.address" type="text" required="">
                <div ng-messages="EventForm.address.$error" role="alert" multiple="">
                    <div ng-message="required">Please enter the address of your event.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="local_dining"></ng-md-icon>
                </md-icon>
                <md-select placeholder="Food Type" name="foodType" ng-model="$ctrl.event.foodType" required="">
                    <md-option value="Vegetarian">Vegetarian</md-option>
                    <md-option value="Steak">Steak</md-option>
                    <md-option value="Italien">Italien</md-option>
                    <md-option value="French">French</md-option>
                    <md-option value="Spanien">Spanien</md-option>
                    <md-option value="Asian">Asian</md-option>
                    <md-option value="Secret">Secret Homemade Receipt</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="event_note"></ng-md-icon>
                </md-icon>
                <textarea type="text" name="description" ng-model="$ctrl.event.description" md-maxlength="250" rows="3" md-select-on-focus
                    placeholder="Event Description: Briefly describe your event and give some advices"></textarea>
            </md-input-container>
            <div>
                <ng-md-icon icon="file_upload"></ng-md-icon>
                <label>Upload Photos</label>
                <input type="file" file-model="myFile" />
                <md-button class="md-raised md-primary" ng-click="$ctrl.uploadFile()">Select Image</md-button>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>
        </form>
    </md-content>

</div>