<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1> {{$ctrl.model.title}} </h1>
        <br/>
        <form name="modelForm">
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="title"></ng-md-icon>
                </md-icon>
                <input name="title" ng-model="$ctrl.model.title" type="text" placeholder="Title" required="">
                <div ng-messages="modelForm.title.$error" role="alert" multiple="">
                    <div ng-message="required">Please enter the title of your event.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <ng-md-icon icon="date_range">
                </ng-md-icon>
                <md-datepicker ng-model="$ctrl.model.time" name="dateField" md-min-date="$ctrl.today" md-hide-icons="calendar" layout-margin="right"
                    md-open-on-focus required=""></md-datepicker>
                <div ng-messages="modelForm.dateField.$error">
                    <div ng-message="valid">The entered value is not a date - {{$ctrl.model.time}}!</div>
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="mindate">Date is too early for {{$ctrl.today}}!</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="location_city"></ng-md-icon>
                </md-icon>
                <md-select name="citySelect" placeholder="City of event" id="citySelect" ng-model="$ctrl.model.city" requird="">
                    <md-option ng-repeat="option in $ctrl.cities" value="{{option._id}}">{{option.name}}</md-option>
                </md-select>
                <div ng-messages="modelForm.citySelect.$error">
                    <div ng-message="required">Please enter the city of your event</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="home"></ng-md-icon>
                </md-icon>
                <input name="address" placeholder="Address" ng-model="$ctrl.model.address" type="text" required="">
                <div ng-messages="modelForm.address.$error" role="alert" multiple="">
                    <div ng-message="required">Please enter the address of your event.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="local_dining"></ng-md-icon>
                </md-icon>
                <md-select name="foodTypeSelect" placeholder="Food Type" id="foodTypeSelect" ng-model="$ctrl.model.foodType" required="">
                    <md-option ng-repeat="option in $ctrl.foodTypes" value="{{option._id}}">{{option.type}}</md-option>
                </md-select>
                <div ng-messages="modelForm.foodTypeSelect.$error">
                    <div ng-message="required">Food type is required!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <md-icon>
                    <ng-md-icon icon="accessibility"></ng-md-icon>
                </md-icon>
                <md-select name="questCountSelect" ng-model="$ctrl.model.guestCount" placeholder="Guest count of event" required="">
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                </md-select>
                <div ng-messages="modelForm.questCountSelect.$error">
                    <div ng-message="required">Guest count is required!</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon>
                    <ng-md-icon icon="event_note"></ng-md-icon>
                </md-icon>
                <textarea type="text" name="description" ng-model="$ctrl.model.description" md-maxlength="250" rows="3" md-select-on-focus
                    placeholder="Event Description: Briefly describe your event and give some advices"></textarea>
            </md-input-container>
            <div>
                <ng-md-icon icon="file_upload"></ng-md-icon>
                <label>Upload Photos</label>
                <input type="file" file-model="myFile" />
                <md-button class="md-raised md-primary" ng-model="$ctrl.model.image" ng-click="$ctrl.uploadFile()">Select Image</md-button>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>
        </form>
    </md-content>

</div>